@import '../../_style.scss';

.maintenance-container {
    display: block;

    table {
        border-collapse: collapse;
        margin: 1rem;
        margin-top: 2rem;
    }

    tr:nth-of-type(odd) {
        background: $tr-odd-bg-color;
    }

    th {
        background: $th-bg-color;
        color: $th-color;
        font-weight: bold;
    }

    td, th {
        padding: 0.6rem;
        border: 1px solid $td-th-border-color;
        text-align: left;
    }

    .btn.btn-sm {
        width: 8rem;
    }
}