<h1>Email Address Confirmed</h1>
<h3>Thank you for confirming your email.</h3>
<p>
If you still have the tab open from your registration,
you can return there and press the <span class="text-primary">Login</span> button,
in order to return to the last page you visited.
</p>
<p>Otherwise, you can <a asp-controller="Home" asp-action="Index">click here to return to the homepage</a>.</p>