<h3>Your password has been reset.</h3>
<p>
    If you still have the tab open from your login,
    you can return there and press the <span class="text-primary">Return to Login</span> link to retry your login with your new password,
    in order to return to the last page you visited.
</p>
<p>Otherwise, you can <a asp-controller="Home" asp-action="Index">click here to return to the homepage</a>.</p>
