@import '../../_theme.scss';

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

hr.divider {
    margin: 0;
}

table.table tbody td:empty {
    padding: 0;
}

.navigation-drawer {
    padding-bottom: 0;
}

.btn {
    flex-direction: column;
}

.btn--icon .btn__content {
    height: auto;
}

.datatable {
    .btn {
        margin-top: 0;
    }

    .btn--icon {
        height: auto;
        width: auto;
    }
}

a.list__tile {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.topnav {
    a {
        text-decoration: none;
    }
}

.logo-container {
    position: relative;
    height: calc(100% - 20px);
    min-width: 44px;
    margin: 10px;
    flex-grow: 0;

    background: {
        repeat: no-repeat;
        size: contain;
        image: url('../../images/logo/iconmonstr-power-on-off-8.svg');
    }

    .logo-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.menu-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    .menuItem {
        align-self: flex-start;
    }
}

.activity-row {
    display: flex;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
}

.chat-row {
    flex-basis: 0;
    overflow: auto;
    position: relative;

    .chat-container {
        position: absolute;
        top: 0;
    }

    .list__tile {
        height: auto;

        .list__tile__content {

            &:first-child {
                flex-basis: auto;
                flex-shrink: 0;
            }

            .list__tile__title {
                overflow: auto;

                * {
                    white-space: normal;
                    margin: 0;
                }
            }
        }
    }
}

.copy-text {
    font-size: 1.2rem;
    margin-right: 1rem;
    font-style: italic;
    text-decoration: none;
    color: $color-primary-text;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-primary-text;
    }
}
