<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${var:logDir}\internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- file log, only own logs -->
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}\nlog-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />

    <!-- write to the database -->
    <target nane="database" xsi:type="Database">
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        insert into dbo.Logs (
        CallSite, Exception, Level,
        Logger, Message, Timestamp, Url
        ) values (
        @Callsite, @Exception, @Level,
        @Logger, @Message, @Timestamp, @Url
        );
      </commandText>

      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@timestamp" layout="${date}" />
      <parameter name="@url" layout="(${aspnet-Request-Method}) url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Skip Microsoft logs and so log only own logs -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>