@import '../../_style.scss';

.logo-container {
    min-width: 8rem;

    background: {
        repeat: no-repeat;
        size: contain;
        image: url('../../images/logo/iconmonstr-power-on-off-8.svg');
    }

    &-small {
        flex-grow: 1;
        min-width: 5.6rem;
    }
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $login-backdrop-color;
}

.login-form {
    min-width: 30rem;
    background-color: $login-bg-color;
    opacity: 0.93;
    padding: 2rem;

    a {
        line-height: 3.2rem;
    }

    button {
        float: right;
    }
}

.external-login-providers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}