@import '../../_style.scss';

.user-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary;
}

.user-form {
    min-width: 30rem;
    background-color: $color-form;
    opacity: 0.93;
    padding: 2rem;

    a {
        line-height: 3.2rem;
    }

    ul {
        list-style-type: none;
        padding-left: 2rem;
    }

    .submit-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.external-login-providers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.forgotten-password-container {
    font-size: 0.8em;
}