@import '../../_style.scss';

.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $user-backdrop-color;
}

.user-form {
    min-width: 30rem;
    background-color: $user-bg-color;
    opacity: 0.93;
    padding: 2rem;

    a {
        line-height: 3.2rem;
    }

    .submit-row {
        display: flex;
        justify-content: space-between;
    }
}