.main-nav {
    /* Keep the nav menu independent of scrolling and on top of other items */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    li {
        .glyphicon {
            margin-right: 10px;
        }

        a.router-link-active,
        a.router-link-active:hover,
        a.router-link-active:focus {
            /* Highlighting rules for nav menu items */
            background-color: #4189C7;
            color: white;
        }
    }
}

@media (max-width: 767px) {
    body {
        /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .main-nav {
        /* On small screens, convert the nav menu to a vertical sidebar */
        height: 100%;
        width: calc(25% - 20px);

        .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;

            ul {
                float: none;
            }

            li {
                float: none;
                font-size: 15px;
                margin: 6px;

                a {
                    padding: 10px 16px;
                    border-radius: 4px;
                }
            }

            a {
                /* If a menu item's text is too long, truncate it */
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .navbar-header {
            float: none;
        }

        .navbar-collapse {
            border-top: 1px solid #444;
            padding: 0px;
        }
    }
}
