@import '../../_style.scss';

.main-nav {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &.navmenu-v {
        display: inline-block;
        width: 20rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: $main-nav-bg-color-v;
        overflow: auto;
    }
}

.menu-listing {
    display: inline-block;
    position: relative;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    box-sizing: border-box;
    width: auto;

    margin: {
        left: 1.6rem;
        top: 0;
        bottom: 0;
    }

    &.popup {
        margin-left: 0;
        width: 100%;
    }

    .navmenu-v & {
        display: block;

        margin: {
            left: 0;
            top: 0.6rem;
            bottom: 0.6rem;
        }
    }
}
