@import '../../_style.scss';

.main-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &.navmenu-v {
        display: inline-block;
        width: 20rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: $main-nav-bg-color-v;
        overflow: auto;
    }
}

.menu-listing {
    display: inline-block;
    position: relative;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    box-sizing: border-box;
    width: auto;

    margin: {
        left: 1.6rem;
        top: 0;
        bottom: 0;
    }

    .popup & {
        margin-left: 0;
        width: 100%;
        // If a menu item's text is too long, truncate it
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .navmenu-v & {
        display: block;
        // If a menu item's text is too long, truncate it
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        margin: {
            left: 0;
            top: 0.6rem;
            bottom: 0.6rem;
        }
    }
}

.menu-item {
    padding: 1rem 1rem 1rem 0;
    border-radius: 1rem;
    color: $menu-item-color;
    display: inline-block;

    &:hover {
        color: $menu-item-color-hover;
        background-color: $menu-item-bg-color-hover;
        text-decoration: none;
    }

    .navmenu-v & {
        padding: 0.6rem 0.6rem 0.6rem 0;
        color: $menu-item-color-v;
        width: 100%;

        &:hover {
            background-color: $menu-item-bg-color-v-hover;
        }
    }

    .glyphicon {
        top: 0.1rem;
        font-size: 1.4rem;
        margin-left: 0.8rem;
        margin-right: 0.4rem;
    }

    &.router-link-active,
    &.router-link-active:hover,
    &.router-link-active:focus {
        // Highlighting rules for nav menu items
        background-color: $menu-item-bg-color-hover;

        .navmenu-v & {
            background-color: $menu-item-bg-color-v-hover;
        }
    }
}
