@import '../_theme.scss';

.vfg-container {
    width: 100%;
    padding: 0 1rem;
}

.vue-form-generator {
    .null-clear-container {
        margin-left: 12px;
        display: flex;
        align-items: center;
    }

    .error {
        background-color: inherit !important;
    }

    .errors {
        color: $color-error;
        font-size: 0.8em;
        padding-left: 1em;
    }

    .field-vuetifyText {
        .hint {
            display: none;
        }

        .errors {
            display: none;
        }
    }

    .field-vuetifyCheckbox {
        .hint {
            display: none;
        }

        .errors {
            display: none;
        }
    }

    .field-vuetifySelect {
        .hint {
            display: none;
        }

        .errors {
            display: none;
        }
    }

    .field-vuetifyDateTime {
        margin-bottom: 0;

        .hint {
            display: none;
        }

        .errors {
            display: none;
        }
    }

    .field-vuetifyTimespan {
        label {
            display: none;
        }

        .subheader {
            padding-left: 0;
            align-items: flex-end;
            height: auto;
        }

        .input-group--text-field {
            margin: 0;

            .input-group__details {
                padding: 0;
            }
        }

        .field-vuetify-time-wrapper {
            flex-grow: 1;

            > .input-group--text-field {
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .hint {
            display: none;
        }

        .errors {
            display: none;
        }
    }

    .field-vuetify-time-wrapper {
        display: flex;
        flex-flow: row wrap;
    }

    .form-group {
        display: table;
        width: 100%;
        margin-bottom: 18px;

        &.disabled > label {
            color: rgba(0,0,0,0.38);
        }

        &.field-collection {
            margin-bottom: 0;
        }
    }

    .form-group > label {
        display: block;
        margin-bottom: 3px;
        font-size: 0.75em;
    }

    .field-navigation {
        .field-wrap {
            border-bottom: 1px dotted #ccc;

            .field-container {
                display: flex;
                align-items: center;

                .field-content {
                    font-size: 1.2em;
                }

                .progress-circular {
                    margin: 8px;
                }

                .progress-circular-placeholder {
                    margin: 8px;
                    height: 32px;
                    width: 32px;
                }

                .field-button-container {
                    display: flex;
                    align-items: center;
                }
            }
        }

        &.disabled {
            .field-wrap {
                span {
                    color: rgba(0,0,0,0.38);
                }
            }
        }
    }

    .input-group {
        margin-bottom: 0;

        .input-group__details {
            min-height: 0;
        }
    }

    .input-group--text-field.input-group--dark.input-group--disabled .input-group__selections__comma {
        color: rgba(0,0,0,0.38);
    }

    .buttons {
        display: inline-block;
    }
}

.color-picker-card {
    .input-group {
        margin: 5px 0;
    }

    .input-group__details {
        padding-top: 0;
        min-height: 0;
    }

    .color-picker-wrapper {
        width: 100%;
        padding: 10px;
    }

    .color-row {
        width: 100%;
        position: relative;
    }

    .color-spacer {
        padding-top: 80%;
    }

    .color-picker {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .color-field {
        border: solid 1px #666;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 20%;
    }

    .saturation-field {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
    }

    .brightness-field {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
        cursor: pointer;
    }

    .color-dot {
        border-radius: 10px;
        height: 10px;
        width: 10px;
        background: $color-primary;
        border: 1px solid white;
        cursor: pointer;
        position: absolute;
        user-select: none;
        pointer-events: none;
        opacity: 0.8;
    }

    .hue-field {
        border: solid 1px #666;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 84%;
        height: 100%;
        background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
        cursor: pointer;
    }

    .hue-slider {
        position: absolute;
        top: 0;
        left: -2px;
        right: -2px;
        cursor: pointer;
        height: 8px;
        border: solid 1px #000;
        background: white;
        opacity: 0.8;
        pointer-events: none;
        user-select: none;
    }
}

.btn-null-clear {
    height: 26px;
    width: 26px;
}
