.activity-row {
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
}

.submit-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;

    &.condensed {
        justify-content: flex-start;
    }
}