@import '../../_style.scss';

header {
    background-color: $header-bg-color;

    a {
        color: $header-link-color;

        &:active {
            color: $header-link-color-active;
        }

        &:hover {
            color: $header-link-color-hover;
        }
    }

    .header-container {
        display: flex;
        min-height: 8rem;

        &-small {
            min-height: 5.6rem;
            display: flex;

            span {
                margin-left: 1rem;
                margin-right: 2rem;
                font-size: 2.5rem;
                line-height: 5rem;
            }
        }
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: 2rem;
    }
}

.logo-container {
    position: relative;
    min-width: 6rem;
    margin: 1rem;

    background: {
        repeat: no-repeat;
        size: contain;
        image: url('../../images/logo/iconmonstr-power-on-off-8.svg');
    }

    &-small {
        min-width: 3.6rem;
    }

    .logo-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.small-titlebar {
    display: flex;
    flex-grow: 1;
}
