$color-primary: #66bb6a;
$color-primary-text: white;

$color-secondary: #388e3c;
$color-accent: #b9f6ca;

$color-paper: #fafffc;
$color-dark: #1b5e20;

$color-form: white;

$tr-odd-bg-color: #eee;
$th-bg-color: #333;
$th-color: white;
$td-th-border-color: #ccc;

