$tr-odd-bg-color: #eee;
$th-bg-color: #333;
$th-color: white;
$td-th-border-color: #ccc;

$btn--dark-color: #1d5231;
$menu-item-color: white;
$popup-bg-color: white;
$user-icon-color-hover: #307149;

$main-bg-color: #fafffc;

$user-backdrop-color: #599c73;
$user-bg-color: white;