$muted-text-color: #888;

$main-nav-bg-color-v: #555;
$menu-item-color: #666;
$menu-item-color-hover: #666;
$menu-item-color-v: white;
$menu-item-bg-color-hover: #dfd;
$menu-item-bg-color-v-hover: green;

$footer-bg-color: #666;
$footer-color: #ccc;