$color-primary: #66bb6a;
$color-primary-text: white;
$color-secondary: #388e3c;
$color-error: #d50000;

$facebook-color: #3b5998;
$google-color: #d34836;
$microsoft-color: #00a1f1;
$reddit-color: #ff5700;
$twitter-color: #0084b4;