.vue-form-generator .field-object .field-object-container {
    display: flex;
    width: 100%;
    margin-left: 12px;
    font-size: 1.2em;

    .field-object-controls {
        display: flex;
        margin-left: 10px;
    }
}
