// main.styl
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
    primary: $green.lighten-1
    accent: $green.accent-1
    secondary: $green.darken-2
    info: $blue.lighten-1
    warning: $amber.darken-2
    error: $red.accent-4
    success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'