@import '../../_style.scss';

footer {
    background-color: $footer-bg-color;
    min-height: 2.6rem;
    color: $footer-color;
    font-size: 1.2rem;
    display: flex;

    .copy-text {
        align-self: center;
        font-style: italic;
    }
}
