.vfg-container {
    width: 100%;
    padding: 0 1rem;
}

.vue-form-generator {
    .error {
        background-color: inherit !important;
    }

    .errors {
        color: red;
        font-size: 0.8em;
        padding-left: 1em;
    }

    .field-vuetifyText {
        .hint {
            display: none;
        }

        .errors {
            display: none;
        }
    }

    .field-vuetifyCheckbox {
        .hint {
            display: none;
        }

        .errors {
            display: none;
        }
    }

    label {
        display: block;
        margin-bottom: 0;
        font-weight: normal;
    }

    .field-label {
        font-size: 1.2em;

        .field-wrap {
            border: 1px solid #ccc;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                padding: 6px 12px;
            }
        }
    }

    .buttons {
        display: inline-block;
    }
}
