body {
    font-size: 16px;
}

#app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

main {
    display: flex;
    flex-grow: 1;
}