html {
    font-size: 10px;
    height: 100%;
}

body {
    font-size: 1.6rem;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#app-root {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

.navmenu-v {
    display: none;
}