@import "../../_theme.scss";

.topbar {
    div {
        display: flex;
        flex-direction: column;
    }

    a {
        text-align: right;
    }

    i {
        font-size: 1.125em;
        margin-right: 0.5em;

        &.user-icon {
            width: 100%;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    .fa-twitter:hover {
        color: $twitter-color;
    }

    .fa-facebook-official:hover {
        color: $facebook-color;
    }

    .fa-google-plus-official:hover {
        color: $google-color;
    }

    .fa-reddit-alien:hover {
        color: $reddit-color;
    }

    &.topbar-header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 1rem;
        padding-bottom: 0;

        i {
            color: $color-primary-text;

            &.user-icon {
                font-size: 1.5em;

                &:hover {
                    color: $color-secondary;
                }
            }
        }

        div {
            flex-direction: row;
        }
    }
}
